footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 30px;
}

@media only screen and (max-width: 640px) {
  footer {
    width: 100vw;
    transform: translateX(-7.5vw);
  }
}