.prev-next-link {
  flex: 1;
  text-decoration: none;
  color: #039be5;
  font-family: Ubuntu;
  font-weight: 600;
  transition-duration: .3s;
}

.prev-next-link:hover {
  transform: scale(1.1);
}

.prev-next-link i {
  margin: 0 6px;
}