.input {
  background-color: var(--theme-bg);
  color: var(--theme-txt);
  outline: none;
  border: 0;
  display: block;
  margin: 60px auto 40px;
  font-size: 22px;
  font-family: Ubuntu;
  transition-duration: .4s;
  text-align: center;
}

.input::placeholder {
  color: var(--theme-txt);
  opacity: 0.6;
}